* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}


header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f8f8f8;
}
#header-log {
    color: #2563EB;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
    list-style: none;
}
nav ul li {
    display: inline;
}
nav ul li a {
    text-decoration: none;
    color: #1D4ED8;
}
nav ul li a:hover {
    color: #2563EB;
    text-decoration: underline;
}
#search-bar {
    width: 100%;
    padding: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
#search-bar input {
    width: 60%;
    padding: 15px;
    font-size: 18px;
    border-radius: 25px;
    border: 1px solid #1D4ED8;
    outline: none;
    transition: border-color 0.3s;
    text-align: center;
}
#search-bar input:focus {
    color: #2563EB;
}
#search-bar input:hover {
    transform: scale(1.1);
}

/* css for Events  catogories */

#categories {
    padding: 20px;
    background-color: #F1F5F9;
}
#categories-btn-links {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0;
}
#categories-btn-links li {
    display: inline;
}
#categories-btn-links .category-btn {
    background-color: #F1F5F9;
    color: #2563EB;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
#categories-btn-links .category-btn:hover {
    color: #1D4ED8;
    transform: scale(1.05) translateY(-10px); 
}

/* section content (hidden)  */

.category-content {
    margin-top: 20px;
    padding: 15px;
    background-color: #f8f8f8;
    border: 1px solid #1D4ED8;
    border-radius: 5px;
    text-align: center;
}
.hidden {display: none;}
   